@import
 url(
'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap'
);
*{

    font-family: 'Poppins', sans-serif;
  
}

.content{
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    row-gap: 3rem;
    padding: 4rem;
    column-gap: 2rem;
    gap: 2rem;
}

