@import
 url(
'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;600&display=swap'
);
*{

    font-family: 'Poppins', sans-serif;
  
}

.content{
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    row-gap: 3rem;
    padding: 4rem;
    column-gap: 2rem;
    gap: 2rem;
}

.container{
    padding: 5vh;
    max-width: 100%;
    height: auto;
    background: rgb(2, 39, 2);
    border-radius: 10px;
    color: #fff;
}

.container li{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 2vh;

}

.section{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 20px;
}

.section input{
    height: 4vh;
    text-align: center;
    outline: 0;
    color: #000;
}



